<div class="card card-stats">
  <div class="card-header" data-background-color="green">
    <i class="material-icons">info_outline</i>
  </div>
  <div class="card-content">
    <p class="category">Fixed Issues</p>
    <h3 class="title">{{fixedTaskCount}}/{{tasks.length}}</h3>
  </div>
</div>
