<div class="card card-stats">
  <div class="card-header" data-background-color="blue">
    <i class="material-icons">message</i>
  </div>
  <div class="card-content">
    <p class="category">Unread messages</p>
    <h3 class="title">{{unreadMessagesCount}}</h3>
  </div>
</div>
