<div class="card card-stats">
  <div class="card-header" data-background-color="red">
    <i class="material-icons">build</i>
  </div>
  <div class="card-content">
    <p class="category">Issues</p>
    <h3 class="title">{{openTaskCount}}/{{tasks.length}}</h3>
  </div>
</div>
