.main-panel .main-content .card {
  animation-duration: 750ms;
  opacity: 0;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.table-form {
  .form-group {
    margin: 0;
  }
}

table {
  .btn[form] {
    padding: 12px 12px !important;
    margin-left: -10px !important;
  }
}
