tbody {
  tr {
    cursor: pointer;
    &.unread {
      background: linear-gradient(60deg, #2c7eda, rgba(0, 172, 193, 0.31));
      box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);
    }
  }
}
