<div class="card">
  <div class="card-header" data-background-color="orange">
    <h4 class="title">Inbox</h4>
    <p class="category"></p>
  </div>
  <div class="card-content table-responsive">
    <table class="table table-hover">
      <thead class="text-warning">
      <tr>
        <th>Name</th>
        <th>Message</th>
        <th>Date</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let message of messages" [class.unread]="!message.read" (click)="markAsRead(message)">
        <td>{{message.from.name}}</td>
        <td>{{message.message}}</td>
        <td>{{message.received | date}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
