<div class="card">
  <div class="card-header card-chart" data-background-color="red">
    <div class="ct-chart" id="completedTasksChart"></div>
  </div>
  <div class="card-content">
    <h4 class="title">Completed Tasks</h4>
  </div>
</div>
