<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-6">
            <app-fixed-tasks-summary></app-fixed-tasks-summary>
          </div>
          <div class="col-sm-6">
            <app-unread-messages-summary></app-unread-messages-summary>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <app-open-tasks-summary></app-open-tasks-summary>
          </div>
          <div class="col-sm-6">
            <app-disk-usage-summary></app-disk-usage-summary>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <app-completed-tasks-chart></app-completed-tasks-chart>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-12">
        <app-tasks></app-tasks>
      </div>

      <div class="col-lg-6 col-md-12">
        <app-messages></app-messages>
      </div>
    </div>
  </div>
</div>
