<table class="table">
  <tbody>
  <tr>
    <td colspan="2">
      <form [formGroup]="form" id="add-bugs-form" name="add-bugs-form" class="table-form">
        <div class="form-group button-next is-empty">
          <input type="text" class="form-control" formControlName="name" placeholder="Create">
          <span class="material-input"></span>
          <span class="material-input"></span>
        </div>
      </form>
    </td>
    <td class="td-actions text-right">
      <button form="add-bugs-form" type="button" [disabled]="form.invalid" (click)="createTask()"
              class="btn btn-white btn-round btn-just-icon">
        <i class="material-icons">save</i>
        <span class="ripple-container"></span>
      </button>
    </td>
  </tr>
  <tr *ngFor="let task of tasks">
    <td>
      <div class="checkbox">
        <label>
          <input type="checkbox" (click)="changeState(task)" name="optionsCheckboxes" [checked]="task.isCompleted()">
        </label>
      </div>
    </td>
    <td>{{task.name}}</td>
    <td class="td-actions text-right">
      <button type="button" (click)="delete(task)" rel="tooltip" title="Remove"
              class="btn btn-danger btn-simple btn-xs">
        <i class="material-icons">close</i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
