<div class="card card-stats">
  <div class="card-header" data-background-color="orange">
    <i class="material-icons">content_copy</i>
  </div>
  <div class="card-content">
    <p class="category">Used Space</p>
    <h3 class="title">{{usedSpace}}/50
      <small>MB</small>
    </h3>
  </div>
</div>
