<div class="card card-nav-tabs">
  <div class="card-header" data-background-color="purple">
    <div class="nav-tabs-navigation">
      <div class="nav-tabs-wrapper">
        <span class="nav-tabs-title">Tasks:</span>
        <ul class="nav nav-tabs" data-tabs="tabs">
          <li class="active">
            <a href="#bugs" data-toggle="tab">
              <i class="material-icons">bug_report</i>
              Bugs
              <div class="ripple-container"></div>
            </a>
          </li>
          <li class="">
            <a href="#website" data-toggle="tab">
              <i class="material-icons">code</i>
              Website
              <div class="ripple-container"></div>
            </a>
          </li>
          <li class="">
            <a href="#server" data-toggle="tab">
              <i class="material-icons">cloud</i>
              Server
              <div class="ripple-container"></div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card-content">
    <div class="tab-content">
      <div class="tab-pane active" id="bugs">
        <app-bugs></app-bugs>
      </div>
      <div class="tab-pane" id="website">
        <app-website></app-website>
      </div>
      <div class="tab-pane" id="server">
        <app-server></app-server>
      </div>
    </div>
  </div>
</div>
